{% load trip_tags i18n %}
<div id="day-{{ day.pk }}"
     class="shadow card card-border bg-base-100"
     hx-get="{% url 'trips:day-detail' day.pk %}"
     hx-trigger="dayModified{{ day.pk }} from:body"
     hx-target="#day-{{ day.pk }}"
     hx-swap="innerHTML">
    <div class="p-3 sm:p-6 card-body">
        <div class="flex flex-col gap-y-3 items-center sm:flex-row">
            <h2 class="text-xl font-medium sm:text-2xl grow">{% trans 'Day' %} {{ day.number }} - {{ day.date|date:"j F" }}</h2>
            <div>
                <button class="btn btn-xs me-2 sm:btn-md" disabled="disabled">
                    {% heroicon_mini "pencil-square" class="size-4 sm:size-5" %}
                </button>
                <button id="day-map-button-{{ day.pk }}"
                        hx-get="{% url 'trips:day-map' day.pk %}"
                        hx-target="#day-info-{{ day.pk }}"
                        hx-swap="outerHTML"
                        class="btn btn-xs me-2 sm:btn-md">{% heroicon_mini "map" class="size-4 sm:size-5" %}</button>
                <c-dropdown :day="day" />
            </div>
        </div>
        <div id="day-info-{{ day.pk }}">
            <div id="stay-info" class="mt-4" x-data>
                <ul class="grid grid-cols-1 gap-y-2 gap-x-4 md:grid-cols-2">
                    {% if day.stay %}
                        <li class="flex relative items-center py-3 px-6 rounded-lg border border-slate-300 bg-slate-100 dark:border-slate-700 dark:bg-slate-100/30">
                            <div class="absolute right-1 bottom-2 mt-4 text-right sm:top-0 me-2" x-data>
                                <button class="relative btn btn-xs btn-soft border-slate-300 bg-slate-100 dark:bg-slate-200/20 dark:border-slate-700 dark:hover:bg-slate-900/10 hover:bg-white/50"
                                        hx-get="{% url 'trips:stay-notes' day.stay.pk %}"
                                        @click="$dispatch('open-modal'); document.activeElement.blur()"
                                        hx-target="#dialog"
                                        hx-swap="innerHTML">
                                    {% heroicon_mini 'paper-clip' class="size-4" %}
                                    <span class="absolute size-2.5 text-xs font-bold text-white {% if day.stay.notes %}bg-slate-400 {% else %} bg-transparent {% endif %}  rounded-full -top-1 -end-1"></span>
                                </button>
                            </div>
                            <div class="p-2 mt-1 bg-white rounded-full border-2 text-slate-500 border-slate-300 dark:text-slate-300 dark:bg-slate-700 dark:border-slate-700">
                                {% heroicon_outline 'home-modern' class="stroke-2 size-5" %}
                            </div>
                            <div class="ms-3">
                                <h2 class="text-lg font-semibold link text-slate-500 dark:text-slate-200">
                                    <a hx-get="{% url 'trips:stay-detail' day.stay.pk %}"
                                    hx-target="#dialog"
                                    hx-swap="innerHTML"
                                    @click="$dispatch('open-modal'); document.activeElement.blur()"
                                    class="link">{{ day.stay.name }}</a>
                                </h2>
                                {% if day|is_first_day_of_trip and day.stay.check_in %}
                                    <div class="stay-in">
                                        {% heroicon_mini 'information-circle' class="size-4 me-1.5" %}
                                        Check-in: {{ day.stay.check_in|time:"H:i" }}
                                    </div>
                                {% endif %}
                                {% with next_day=day|next_day %}
                                    {% if day.stay.check_out and day|has_different_stay:next_day %}
                                        <div class="stay-out">
                                            {% heroicon_mini 'information-circle' class="size-4 me-1.5" %}
                                            Check-out: {{ day.stay.check_out|time:"H:i" }}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </li>
                        {% with next_day=day|next_day %}
                            {% if next_day and next_day.stay and day|has_different_stay:next_day and next_day.stay.check_in %}
                                <li class="flex relative items-center py-3 px-6 rounded-lg border border-slate-300 bg-slate-100 dark:border-slate-700 dark:bg-slate-100/30">
                                    <div class="absolute right-1 bottom-2 mt-4 text-right sm:top-0 me-2" x-data>
                                        <button class="relative btn btn-xs btn-soft border-slate-300 bg-slate-100 dark:bg-slate-200/20 dark:border-slate-700 dark:hover:bg-slate-900/10 hover:bg-white/50"
                                                hx-get="{% url 'trips:stay-notes' next_day.stay.pk %}"
                                                @click="$dispatch('open-modal'); document.activeElement.blur()"
                                                hx-target="#dialog"
                                                hx-swap="innerHTML">
                                            {% heroicon_mini 'paper-clip' class="size-4" %}
                                            <span class="absolute size-2.5 text-xs font-bold text-white {% if next_day.stay.notes %}bg-slate-400 {% else %} bg-transparent {% endif %}  rounded-full -top-1 -end-1"></span>
                                        </button>
                                    </div>
                                    <div class="p-2 mt-1 bg-white rounded-full border-2 text-slate-500 border-slate-300 dark:text-slate-300 dark:bg-slate-700 dark:border-slate-700">
                                        {% heroicon_outline 'home-modern' class="stroke-2 size-5" %}
                                    </div>
                                    <div class="ms-3">
                                        <h2 class="text-lg font-semibold link text-slate-500 dark:text-slate-200">
                                            <a hx-get="{% url 'trips:stay-detail' next_day.stay.pk %}"
                                            hx-target="#dialog"
                                            hx-swap="innerHTML"
                                            @click="$dispatch('open-modal'); document.activeElement.blur()"
                                            class="link">{{ next_day.stay.name }}</a>
                                        </h2>
                                        <div class="stay-in">
                                            {% heroicon_mini 'information-circle' class="size-4 me-1.5" %}
                                            Check-in: {{ next_day.stay.check_in|time:"H:i" }}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </ul>
            </div>

        {% if day.events.all and day.stay %}<div class="divider"></div>{% endif %}
        <ul id="events-list-{{ day.pk }}"
            class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 grid-col">
            {% for event in day.events.all %}
                <li>
                    <c-event :event="event" icon="{{ event|event_icon }}" border_color="{{ event|event_border_color }}" bg_color="{{ event|event_bg_color }}" icon_color="{{ event|event_icon_color }}">
                    <div class="flex items-center" x-data>
                        {% if event.has_overlap %}
                            <div class="px-1 font-semibold rounded-sm me-1.5 text-error bg-slate-50 dark:bg-slate-700">!!</div>
                        {% endif %}
                        <a href="#"
                           class="flex items-center"
                           x-data="{ showIcon: false }"
                           @mouseenter="showIcon = true"
                           @mouseleave="showIcon = false"
                           hx-get="{% url 'trips:event-change-times' event.pk %}"
                           @click="$dispatch('open-modal'); document.activeElement.blur()"
                           hx-target="#dialog"
                           hx-swap="innerHTML">
                            {{ event.start_time|time:"H:i" }}&nbsp;-&nbsp;{{ event.end_time|time:"H:i" }}
                            <span x-show="showIcon">{% heroicon_mini "pencil-square" class="size-3 ms-2" %}</span>
                        </a>
                    </div>
                    </c-event>
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
</div>
<div id="messages" class="z-3" hx-swap-oob="true">{% include 'includes/messages.html' %}</div>
