{% load trip_tags i18n %}
<div id="day-{{ day.pk }}"
     class="shadow card card-border bg-base-100"
     hx-get="{% url 'trips:day-detail' day.pk %}"
     hx-trigger="dayModified{{ day.pk }} from:body"
     hx-target="#day-{{ day.pk }}"
     hx-swap="innerHTML">
    <div class="p-3 sm:p-6 card-body">
        <div class="flex flex-col gap-y-3 items-center sm:flex-row">
            <h2 class="text-xl font-medium sm:text-2xl grow">{% trans 'Day' %} {{ day.number }} - {{ day.date|date:"j F" }}</h2>
            <div>
                {% if day.trip.status != 5 %}
                <button class="btn me-2 btn-md" disabled="disabled" aria-label="{% trans 'Edit day' %}">
                    <i class="ph-bold ph-pencil-simple i-lg" aria-hidden="true"></i>
                    <span class="hidden sm:inline">{% trans 'Edit day' %}</span>
                </button>
                {% endif %}
                {% if show_map %}
                <button id="day-map-button-{{ day.pk }}"
                        hx-get="{% url 'trips:day-detail' day.pk %}"
                        hx-target="#day-{{ day.pk }}"
                        hx-swap="outerHTML"
                        class="btn me-2 btn-md">
                    <i class="ph-bold ph-list-dashes i-lg"></i>
                    <span class="hidden sm:inline">{% trans 'View list' %}</span>
                </button>
                {% else %}
                <button id="day-map-button-{{ day.pk }}"
                        hx-get="{% url 'trips:day-map' day.pk %}"
                        hx-target="#day-info-{{ day.pk }}"
                        hx-swap="innerHTML"
                        class="btn me-2 btn-md">
                    <i class="ph-bold ph-map-trifold i-lg"></i>
                    <span class="hidden sm:inline">{% trans 'View map' %}</span>
                </button>
                {% endif %}
                <c-dropdown :day="day" />
            </div>
        </div>
        <div id="day-info-{{ day.pk }}">
            {% if show_map %}
                {% include 'trips/includes/day-map-content.html' %}
            {% else %}
                {% include 'trips/includes/day-list-content.html' %}
            {% endif %}
        </div>
    </div>
</div>
<div id="messages" class="z-3" hx-swap-oob="true">{% include 'includes/messages.html' %}</div>
