{% load i18n trip_tags %}
<ul class="leading-10">
    <li class="flex gap-2 items-center">
        <i class="ph-bold ph-map-pin i-md text-base-content/60"></i>{{ event.address }}
    </li>
    <li class="flex gap-2 items-center">
        <i class="ph-bold ph-clock i-md text-base-content/60"></i>{{ event.start_time|time:"H:i" }}&nbsp;-&nbsp;{{ event.end_time|time:"H:i" }}
    </li>
    {% if event.website %}
        <li class="flex gap-2 items-center">
            <i class="ph-bold ph-browser i-md text-base-content/60"></i><a href="{{ event.website }}" class="link">{{ event.website|truncatechars:38 }}</a>
        </li>
    {% endif %}
    {% if event.phone_number %}
        <li class="flex gap-2 items-center">
            <i class="ph-bold ph-phone i-md text-base-content/60"></i>{{ event.phone_number }}
        </li>
    {% endif %}
    {% if event.opening_hours %}
        <li class="flex gap-2 items-center">
            <i class="ph-bold ph-door-open i-md text-base-content/60"></i>{{ event.opening_hours|format_opening_hours }}
        </li>
    {% endif %}

</ul>
