<div id="map" class="z-0 mb-4"></div>
{{ locations|json_script:"location_json" }}
{{ map_bounds|json_script:"map_bounds" }}
<div class="flex justify-center">
    <div class="inline-flex mt-2 mb-4 rounded-md shadow-sm" role="group">
        {% for day in days %}
            <button type="button"
                    hx-get="{% url 'trips:map' trip.id day.pk %}"
                    hx-target="#place-list"
                    hx-swap="innerHTML"
                    class="px-4 py-2 text-sm font-medium {% if selected_day == day.pk %} text-white bg-blue-700 hover:text-white hover:bg-blue-700 {% else %} text-gray-900 bg-white hover:bg-gray-200 hover:text-gray-900 {% endif %} {% if forloop.first %}rounded-s-lg{% endif %} border border-gray-200  focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
                Day {{ day.number }}
            </button>
        {% endfor %}
        <button type="button"
                hx-get="{% url 'trips:map' trip.id %}"
                hx-target="#place-list"
                hx-swap="innerHTML"
                class="px-4 py-2 text-sm font-medium {% if selected_day %} text-gray-900 bg-white hover:bg-gray-200 hover:text-gray-900 focus:text-blue-700 {% else %} text-white bg-blue-700 hover:text-white hover:bg-blue-700{% endif %}  border border-gray-200 rounded-e-lg  focus:z-10 focus:ring-2 focus:ring-blue-700  dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
                {% if not selected_day %}disabled{% endif %}>All Days</button>
    </div>
</div>
<div id="place-control" class="flex items-center mb-8" hx-swap-oob="true">
    <h3 class="mr-4 text-2xl font-bold grow">Places</h3>
    {% if trip.places.all %}
        <button class="inline-flex items-center text-center btn btn-sm btn-primary-outline"
                hx-get="{% url 'trips:place-list' trip.id %}"
                hx-target="#place-list"
                hx-swap="innerHTML">
            {% heroicon_outline "list-bullet" stroke_width=2 class="size-4 me-0 sm:me-2" %}
            <span class="hidden sm:block">List view</span>
        </button>
        <button class="inline-flex items-center text-center btn btn-sm btn-primary-outline">
            {% heroicon_outline "arrows-up-down" stroke_width=2 class="size-4 me-0 sm:me-2" %}
            <span class="hidden sm:block">Reorder</span>
        </button>
    {% endif %}
    <button class="inline-flex items-center text-center btn btn-sm btn-primary"
            hx-get="{% url 'trips:trip-add-place' trip.id %}"
            hx-target="#dialog"
            hx-swap="innerHTML"
            @click="$dispatch('open-modal')">
        {% heroicon_outline "plus" stroke_width=2 class="size-4 me-2" %}Place
    </button>
</div>
