<div class="px-6 py-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h3 class="flex py-3 mx-2 font-lg font-bold tracking-tight">Day {{ day.number }}</h3>
    <ul class="my-2">
        {% for place in day.places.all %}
            <li class="flex items-center py-2">
                <div class="grow text-sm truncate">{{ place.name }}</div>
                <button class="btn btn-xs btn-primary-outline me-2"
                        hx-get="{% url 'trips:place-update' place.id %}"
                        hx-target="#dialog"
                        hx-swap="innerHTML"
                        @click="$dispatch('open-modal')">
                    {% heroicon_outline "pencil" stroke_width=2 class="size-3" %}
                </button>
                <button class="btn btn-xs btn-danger-outline"
                        hx-delete="{% url 'trips:place-delete' place.id %}"
                        hx-confirm="Are you sure you want to delete {{ place.name }}">
                    {% heroicon_outline "x-mark" stroke_width=2 class="size-3" %}
                </button>
            </li>
        {% endfor %}
    </ul>
</div>
