<li>
  <div x-data="{
               id:{{ day.number}},
               get expanded() {
               return this.active === this.id
               },
               set expanded(value) {
               this.active = value ? this.id : null
               }
               }" role="region"
       x-cloak>

    {% if day.places.all %}
      <h3 role="button" class="flex border-b border-secondary-subtle px-4 py-3 mx-2 cursor-pointer" :class="expanded ? 'bg-base-200' : ''"
          @click="expanded = !expanded"
          :aria-expanded="expanded">
        <div class="relative grow flex items-center">
          <span class="mr-3">Day {{ day.number}}</span>
          <span class="bg-primary-content text-primary text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-primary">{{ day.places.all.count }} Places</span>
        </div>
        <span x-show="expanded" aria-hidden="true" class="me-3"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/></svg></span>
        <span x-show="!expanded" aria-hidden="true" class="me-3"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg></span>
      </h3>
    {% else %}
      <h3 class="relative grow flex items-center px-4 py-3 mx-2">
        <span class="mr-3">Day {{ day.number}}</span>
        <span class="bg-gray-200 text-gray-600 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-gray-300">0 Places</span>
      </h3>
    {% endif %}
    <div x-show="expanded">
      {% if day.places.all %}
        <ul class="mt-2">
          {% for place in day.places.all %}
            <li class="flex items-center ps-4 py-2">
              <div class="grow text-sm truncate">{{ place.name }}</div>
              <button class="btn btn-xs btn-primary-outline me-2"
                      hx-get="{% url 'trips:place-update' place.id %}"
                      hx-target="#dialog"
                      hx-swap="innerHTML"
                      @click="$dispatch('open-modal')">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg></button>
              <button class="btn btn-xs btn-danger-outline"
                      hx-delete="{% url 'trips:place-delete' place.id %}"
                      hx-confirm="Are you sure you want to delete {{ place.name }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg></button>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</li>
