<li>
  <div x-data="{
               id:{{ day.number}},
               get expanded() {
               return this.active === this.id
               },
               set expanded(value) {
               this.active = value ? this.id : null
               }
               }" role="region"
       x-cloak>

    {% if day.places.all %}
      <h3 role="button" class="flex border-b border-secondary-subtle px-4 py-3 mx-2 cursor-pointer" :class="expanded ? 'bg-base-200' : ''"
          @click="expanded = !expanded"
          :aria-expanded="expanded">
        <div class="relative grow flex items-center">
          <span class="mr-3">Day {{ day.number}}</span>
          <span class="bg-primary-content text-primary text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-primary">{{ day.places.all.count }} Places</span>
        </div>
        <span x-show="expanded" aria-hidden="true" class="me-3"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/></svg></span>
        <span x-show="!expanded" aria-hidden="true" class="me-3"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg></span>
      </h3>
    {% else %}
      <h3 class="relative grow flex items-center px-4 py-3 mx-2">
        <span class="mr-3">Day {{ day.number}}</span>
        <span class="bg-gray-200 text-gray-600 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-gray-300">0 Places</span>
      </h3>
    {% endif %}
    <div x-show="expanded">
      {% if day.places.all %}
        <ul class="mt-2">
          {% for place in day.places.all %}
            <li class="flex items-center p-4">
              <div class="grow">{{ place.name }}</div>
              <button class="btn btn-sm btn-outline btn-primary ms-3"
                      hx-get="{% url 'trips:place-update' place.id %}"
                      hx-target="#dialog"
                      hx-swap="innerHTML"
                      @click="$dispatch('open-modal')">Update</button>
              <button class="btn btn-sm btn-outline btn-error ms-3"
                      hx-delete="{% url 'trips:place-delete' place.id %}"
                      hx-confirm="Are you sure you want to delete {{ place.name }}">Delete</button>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</li>
