{% load i18n %}
<ul class="leading-10">
    <li>
        <span class="font-bold">{% trans 'Departure' %}:&nbsp;</span>{{ event.address }}
    </li>
    <li>
        <span class="font-bold">{% trans 'Destination' %}:&nbsp;</span>{{ event.destination }}
    </li>
    <li>
        <span class="font-bold">{% trans 'Start time' %}:&nbsp;</span>{{ event.start_time|time:"H:i" }}
    </li>
</ul>
<ul class="leading-10">
    <li>
        <span class="font-bold">{% trans 'End time' %}:&nbsp;</span>{{ event.end_time|time:"H:i" }}
    </li>
    <li>
        <span class="font-bold">{% trans 'Url' %}:&nbsp;</span>{% if event.url %}<a href="{{ event.url }}" class="link">{{ event.url }}</a>{% else %}-{% endif %}
    </li>
    <li>
        <span class="font-bold">{% trans 'Type' %}:&nbsp;</span>{{ event.get_type_display }}
    </li>
</ul>
