{% load i18n %}
<ul class="leading-10">
    <li class="flex gap-2 items-center">
        {% heroicon_outline 'arrow-path-rounded-square' class='size-6' %}{{ event.address }} - {{ event.destination }}
    </li>
    <li class="flex gap-2 items-center">
        {% heroicon_outline 'clock' class='size-6' %}{{ event.start_time|time:"H:i" }}&nbsp;-&nbsp;{{ event.end_time|time:"H:i" }}
    </li>
    {% if event.website %}
        <li class="flex gap-2 items-center">
            {% heroicon_outline 'globe-alt' class='size-6' %}<a href="{{ event.website }}" class="link">{{ event.website }}</a>
        </li>
    {% endif %}
</ul>
