{% load crispy_forms_filters l10n %}
{% if field.label and form_show_labels %}
    <span class="mb-1 block text-sm font-medium text-gray-700">{{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}</span>
{% endif %}
<div class="grid grid-cols-1 gap-2 sm:grid-cols-3 sm:gap-x-4">
    {% for choice in field.field.choices %}
        <label class="flex cursor-pointer items-center gap-2">
            <input type="checkbox"
                   class="checkbox checkbox-primary checkbox-sm"
                   {% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %}
                   name="{{ field.html_name }}"
                   id="id_{{ field.html_name }}_{{ forloop.counter }}"
                   value="{{ choice.0|unlocalize }}"
                   {{ field.field.widget.attrs|flatatt }}>
            <span>{{ choice.1|unlocalize }}</span>
        </label>
    {% endfor %}
</div>
