{% extends "base.html" %}
{% load static partials %}

{% block page_title %}Home Page{% endblock page_title %}


{% block content %}
  <div class="d-flex align-items-center">
    <h1 class="mb-3 flex-grow-1 ">Organize it!</h1>
    <button class="btn btn-outline-primary"
            hx-post="{% url 'projects:project-create' %}"
            hx-target="#dialog"
            hx-swap="innerHTML">Add a Project</button>
  </div>
  <!-- Content for Autenthicated Users -->
  {% if user.is_authenticated %}
    <p class="lead">Welcome back, {{ user.email }}!</p>
    {% if fav_project %}
      <div class="card">
        <h5 class="card-header">My Favourite Project</h5>
        <div class="card-body">
          <h5 class="card-title">{{ fav_project.title }}</h5>
          <p class="card-text">{{ fav_project.description }}</p>
        </div>
      </div>
    {% else %}
      {% for project in other_projects %}
        {% if forloop.first %}
          <div class="card mb-5">
            <h5 class="card-header">My Latest Project</h5>
            <div class="card-body">
              <h5 class="card-title">{{ project.title }}</h5>
              <p class="card-text">{{ project.description }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <h5>Other Projects</h5>
      <ul class="list-unstyled ">
        {% for project in other_projects %}
          {% if forloop.first %}
          {% else %}
            <li><a href="#">{{ project.title}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>



    {% endif %}

  <!-- Content for Anonymous Users -->
  {% else %}
    <section id="welcome">
      {% lorem 2 p random %}
      <div id="hero" class="my-5 position-relative">
        <img src="{% static 'img/hero.jpg' %}" alt="Organized Desktop" class="img-fluid rounded-3">
        <button id="cta" class="btn btn-lg btn-secondary position-absolute top-50 start-50 translate-middle ">Create your first project now
        </button>
      </div>
    </section>
  {% endif %}

{% endblock content %}
