{% extends "base.html" %}

{% block page_title %}{{project.title}}{% endblock page_title %}
{% block content %}

  <!-- Details Section -->
  <div class="d-flex align-items-center">
    <h2 class="me-3">{{ project.title}}</h2>
    <span class="badge bg-info py-2 px-4">{{ project.get_status_display}}</span>
  </div>
  <div id="project-details" class="mb-2">
    {% if project.start_date and project.end_date %}
      <span class="pe-3">Start Date: <strong>{{ project.start_date}}</strong> / End date: <strong>{{ project.end_date}}</strong></span>
    {% else %}
      <span>Start Date: <strong>-</strong>  /  End date: <strong>-</strong></span>
    {% endif %}
  </div>
  <p><em>{{ project.description }}</em></p>
  <hr>

  <!-- Links Section -->
  <section id="links" class="my-5">
    <h3>Links</h3>
    <ul class="list-unstyled">
      {% for link in project.links.all %}
        <li>
          <a href="{{ link.url }}">{% if link.title %}{{ link.title }}{%else%}{{ link.url}}{% endif %}</a>
        </li>
      {% endfor %}
    </ul>
    <button class="btn btn-primary"
            hx-get="{% url 'projects:project-add-link' project.id %}"
            hx-target="#dialog"
            hx-swap="innerHTML">Add a link</button>
  </section>



{% endblock content %}
