{% extends "base.html" %}
{% load partials %}

{% block page_title %}{{project.title}}{% endblock page_title %}
{% block content %}

  <!-- Details Section -->
  <div class="d-flex align-items-center">
    <h2 class="me-3">{{ project.title}}</h2>
    <span class="badge bg-info py-2 px-4">{{ project.get_status_display}}</span>
  </div>
  <div id="project-details" class="mb-2">
    {% if project.start_date and project.end_date %}
      <span class="pe-3">Start Date: <strong>{{ project.start_date}}</strong> / End date: <strong>{{ project.end_date}}</strong></span>
    {% else %}
      <span>Start Date: <strong>-</strong>  /  End date: <strong>-</strong></span>
    {% endif %}
  </div>
  <p><em>{{ project.description }}</em></p>
  <hr>

  <!-- Links Section -->
  <section id="links" class="mt-3 mb-5">
    <div class="d-flex align-items-center mb-3">
      <h3 class="me-4">Links</h3>
      <button class="btn btn-sm btn-outline-primary"
              hx-get="{% url 'projects:project-add-link' project.id %}"
              hx-target="#dialog"
              hx-swap="innerHTML">Add a link</button>
    </div>
    {% partialdef link-list inline=true %}
      <ul class="list-unstyled vstack gap-2 mb-3"
          hx-swap="outerHTML"
          hx-get="{% url 'projects:link-list' project.id %}"
          hx-trigger="linkSaved from:body">
        {% for link in project.links.all %}
          <li class="d-flex">
            <a href="{{ link.url }}"
               class="flex-grow-1 ">{% if link.title %}{{ link.title }}{%else%}{{ link.url}}{% endif %}</a>
            <button class="btn btn-sm btn-primary ms-3"
                    hx-get="{% url 'projects:link-update' link.id %}"
                    hx-target="#dialog"
                    hx-swap="innerHTML">Update</button>
            <button class="btn btn-sm btn-danger ms-3"
                    hx-get="{% url 'projects:link-delete' link.pk %}"
                    hx-confirm="Are you sure you want to delete {{ link.url }}">Delete</button>
          </li>
        {% endfor %}
      </ul>
      {% if request.htmx %}
        <div hx-swap-oob=innerHTML:#messages>
          {% include 'includes/messages.html' %}
        </div>
      {% else %}
      {% endif %}
    {% endpartialdef %}

  </section>
  <hr>
  <!-- Places Section -->
  <section id="places" class="my-5"></section>
  <div class="d-flex align-items-center mb-3">
    <h3 class="me-4">Places</h3>
    <button class="btn btn-sm btn-outline-primary"
            hx-get="{% url 'projects:project-add-place' project.id %}"
            hx-target="#dialog"
            hx-swap="innerHTML">Add a place</button>
  </div>


{% endblock content %}
