{% extends "base-simplified.html" %}
{% load crispy_forms_tags i18n static %}
{% block head_title %}
    {% translate "Change Password" %}
{% endblock head_title %}

{% block content %}
    <div class="mx-auto flex flex-col items-center justify-center px-6 py-8 md:h-screen lg:py-0">
        <a href="#"
           class="mb-6 flex items-center text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="mr-2 h-8 w-8" src="{% static 'img/logo.png' %}" alt="logo">
            Organize it!
        </a>
        <div class="w-full rounded-lg bg-white shadow sm:max-w-md md:mt-0 xl:p-0 dark:border dark:border-gray-700 dark:bg-gray-800">
            <div class="space-y-4 p-6 sm:p-8 md:space-y-6">
                <h1>
                    {% if token_fail %}
                        {% translate "Bad Token" %}
                    {% else %}
                        {% translate "Change Password" %}
                    {% endif %}
                </h1>
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>
                        {% blocktranslate %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktranslate %}
                    </p>
                {% else %}
                    <form class="space-y-4 md:space-y-6"
                          method="post"
                          action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary w-full"
                               type="submit"
                               name="action"
                               value="{% translate 'change password' %}" />
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
