{% extends "base.html" %}
{% load account i18n %}
{% block head_title %}
    {% translate "Password Reset" %}
{% endblock head_title %}

{% block content %}
    <h1 class="mt-5 mb-4 text-2xl">{% translate "Password Reset" %}</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="mb-4 text-gray-600">
        {% blocktranslate %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktranslate %}
    </p>
{% endblock content %}
