{% extends "base-simplified.html" %}
{% load static i18n crispy_forms_tags %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <div class="flex flex-col justify-center items-center py-8 px-6 mx-auto md:h-screen lg:py-0">
        <a href="#"
           class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="mr-2 w-8 h-8" src="{% static 'img/logo.png' %}" alt="logo">
            Organize it!
        </a>
        <div class="w-full bg-white rounded-lg shadow sm:max-w-md md:mt-0 xl:p-0 dark:bg-gray-800 dark:border dark:border-gray-700">
            <div class="p-6 space-y-4 sm:p-8 md:space-y-6">
                <h1 class="text-xl font-bold tracking-tight leading-tight text-gray-900 md:text-2xl dark:text-white">
                    {% trans "Password Reset" %}
                </h1>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>
                    {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
                </p>
                <form class="space-y-4 md:space-y-6 password_reset"
                      method="post"
                      action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input class="w-full btn btn-primary"
                           type="submit"
                           value="{% trans 'Reset My Password' %}" />
                </form>
                <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                    {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
