{% extends "base-simplified.html" %}
{% load static i18n crispy_forms_tags %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#"
           class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-8 h-8 mr-2" src="{% static 'img/logo.png' %}" alt="logo">
            Organize it!
        </a>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1>
                    {% if token_fail %}
                        {% trans "Bad Token" %}
                    {% else %}
                        {% trans "Change Password" %}
                    {% endif %}
                </h1>
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>
                        {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                    </p>
                {% else %}
                    <form class="space-y-4 md:space-y-6"
                          method="post"
                          action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input class="btn btn-primary w-full"
                               type="submit"
                               name="action"
                               value="{% trans 'change password' %}" />
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
