{% extends "base.html" %}
{% load crispy_forms_tags i18n %}
{% block page_title %}
    {% trans "Personal Settings" %}
{% endblock page_title %}
{% block content %}
    <div class="my-5 mx-auto max-w-7xl">
        <div class="mb-12 text-center">
            <h1 class="mb-2 text-3xl font-semibold">{% trans "Personal Settings" %}</h1>        </div>
        <div class="mx-auto max-w-2xl shadow card card-border bg-base-100">
            <form method="post" class="card-body">
                {% csrf_token %}
                {% crispy profile_form %}
                <div class="flex justify-end mt-6">
                    <button type="submit" class="btn btn-sm btn-soft btn-primary">{% trans "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
