{% extends "base-simplified.html" %}
{% load static i18n crispy_forms_tags %}
{% block page_title %}
    {% trans "Signup" %}
{% endblock page_title %}
{% block content %}
    <div class="mx-auto flex flex-col items-center justify-center px-6 py-8 md:h-screen lg:py-0">
        <a href="#"
           class="mb-6 flex items-center text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="mr-2 h-8 w-8" src="{% static 'img/logo.png' %}" alt="logo">
            Organize it!
        </a>
        <div class="w-full rounded-lg bg-white shadow sm:max-w-md md:mt-0 xl:p-0 dark:border dark:border-gray-700 dark:bg-gray-800">
            <div class="space-y-4 p-6 sm:p-8 md:space-y-6">
                <h1 class="text-xl leading-tight font-bold tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    {% trans "Sign Up" %}
                </h1>
                <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                    {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>{% endblocktrans %}
                </p>
                <form class="space-y-4 md:space-y-6"
                      id="signup_form"
                      method="post"
                      action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden"
                               name="{{ redirect_field_name }}"
                               value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-primary w-full" type="submit">{% trans "Sign Up" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
