{% extends "base-simplified.html" %}

{% load i18n crispy_forms_tags %}

{% block page_title %}{% trans "Signup" %}{% endblock page_title %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow rounded-4">
      <div class="card-body">
        <h1 class="m-4 text-center text-primary">{% trans "Sign Up" %}</h1>
        <p class="text-muted">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>{% endblocktrans %}</p>
        <form class="signup my-4" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="d-grid">
            <button class="btn btn-primary mt-3" type="submit">{% trans "Sign Up" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>


{% endblock content %}
