repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files

- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
    args: [--py314-plus]

- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.29.1
  hooks:
  - id: django-upgrade
    args: [--target-version, '6.0']

  # -------------------------
  # FORMATTERS (before)
  # -------------------------
- repo: https://github.com/djlint/djLint
  rev: v1.36.4
  hooks:
  - id: djlint-reformat-django
    files: ^templates/.*\.html$
    exclude: ^templates/tailwind/field\.html$

- repo: local
  hooks:
  - id: rustywind
    name: rustywind Tailwind CSS class linter
    language: node
    additional_dependencies: [rustywind@latest]
    entry: rustywind
    args: [--write]
    types_or: [html]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff-format

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.16.0
  hooks:
  - id: pretty-format-toml
    args: [--autofix]
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']

  # -------------------------
  # LINTERS (after)
  # -------------------------
- repo: https://github.com/djlint/djLint
  rev: v1.36.4
  hooks:
  - id: djlint-django
    files: ^templates/.*\.html$
    exclude: ^templates/tailwind/field\.html$

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix]

- repo: https://github.com/PyCQA/bandit
  rev: 1.9.3
  hooks:
  - id: bandit
    args: [-c, pyproject.toml]
    additional_dependencies: [toml==0.10.2]
