crispy-tailwind
django>=5
django-allauth==0.61.1
django-crispy-forms
django-environ
django-htmx
django-q2==1.6.1
django-template-partials
dj-database-url==2.1.0
folium==0.14.0
geocoder==1.38.1
gunicorn==21.2.0
heroicons[django]
psycopg[binary]==3.1.18
