[x-cloak] { display: none !important; }

textarea.fl-textarea {
    height: 7rem !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#notes-list > li:last-child {
    border-bottom: none;
  }

select ~ .pointer-events-none {
    display: none !important;
  }

.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator  {
  display: inline-block;
}

.i-xs {
  font-size: 0.75rem !important;
  vertical-align: sub;
}

.i-sm {
  font-size: 1rem !important;
  vertical-align: sub;
}

.i-md {
  font-size: 1.25rem !important;
  vertical-align: sub;
}

.i-lg {
  font-size: 1.5rem !important;
  vertical-align: sub;
}

@media (pointer: fine) {
    li.edit button {
      visibility: hidden;
    }

    li.edit:hover button {
      visibility: visible;
    }
}


.trip-list-background {
  position: relative;
}

.trip-list-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/static/img/trip_list_hero.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 0;
}

.trip-list-background > * {
  position: relative;
  z-index: 1;
}

.navbar-background > * {
  position: relative;
  z-index: 1;
}

.body-pattern {
  background-image: url('/static/img/pattern_body.png');
  background-repeat: repeat;
  background-size: 215px 215px;
