[x-cloak] { display: none !important; }

textarea.fl-textarea {
    height: 7rem !important;
}

#map {
    width: 100%;
    height: 400px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#notes-list > li:last-child {
    border-bottom: none;
  }

select ~ .pointer-events-none {
    display: none !important;
  }

@media (pointer: fine) {
    li.edit button {
      visibility: hidden;
    }

    li.edit:hover button {
      visibility: visible;
    }
