{% load i18n static %}
<section class="card card-border bg-base-100 mx-auto max-w-7xl text-center shadow">
    <img src="{% static 'img/hero.jpg' %}" class="rounded-t-lg" alt="Planner">
    <div class="m-auto px-6 py-5 lg:px-10 lg:py-12">
        <h1 class="mb-4 max-w-3xl text-3xl leading-none font-extrabold tracking-tight md:text-4xl xl:text-5xl dark:text-white">
            {% translate 'Organize your next trip!' %}
        </h1>
        <p class="mb-6 max-w-3xl text-base/6 font-light text-gray-500 md:text-lg/6 lg:mb-8 lg:text-xl/7 dark:text-gray-400">
            {% translate 'Register experiences, stays and transports. Keep links and notes about them. Organize them by day and look at a map to set up your next journey. Share the journey plan with your friends and family.' %}
        </p>
        <a href="{% url 'account_signup' %}"
           class="btn btn-primary md:btn-lg inline-flex items-center justify-center">
            {% translate 'Get started' %}
            <svg class="-mr-1 ml-2 h-5 w-5"
                 fill="currentColor"
                 viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd">
                </path>
            </svg>
        </a>
    </div>
</section>
<c-quick-guide />
