<div id="trip-list"
     class="grid grid-cols-1 gap-x-4 gap-y-8 mt-8 md:grid-cols-2">
    {% if fav_trip %}
        <div class="relative shadow card card-border bg-base-100">
            <div class="card-body">
                <span class="text-sm text-slate-600 dark:text-slate-300">Favourite</span>
                <h5 class="card-title">{{ fav_trip.title }}</h5>
                <p>{{ fav_trip.description }}</p>
                <div class="justify-end card-actions">
                    <a href="{% url 'trips:trip-detail' fav_trip.id %}"
                       class="btn btn-sm btn-primary btn-outline">View Trip</a>
                </div>
            </div>
        </div>
        {% if other_trips %}
            <div class="relative shadow card card-border bg-base-100">
                <div class="card-body">
                    <span class="text-sm text-slate-600 dark:text-slate-300">Others</span>
                    <ul class="list-unstyled">
                        {% for trip in other_trips %}
                            <li>
                                <a class="link" href="{% url 'trips:trip-detail' trip.id %}">{{ trip.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% else %}
        {% if other_trips %}
            {% for trip in other_trips %}
                {% if forloop.first %}
                    <div class="relative shadow card card-border bg-base-100">
                        <div class="card-body">
                            <span class="text-sm text-slate-600 dark:text-slate-300">Latest</span>
                            <h5 class="card-title">{{ trip.title }}</h5>
                            <p>{{ trip.description }}</p>
                            <div class="justify-end card-actions">
                                <a href="{% url 'trips:trip-detail' trip.id %}"
                                   class="btn btn-sm btn-primary btn-outline">View Trip</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="relative shadow card card-border bg-base-100">
                <div class="card-body">
                    <span class="text-sm text-slate-600 dark:text-slate-300">Others</span>
                    <ul class="list-unstyled">
                        {% for trip in other_trips %}
                            {% if forloop.first %}
                            {% else %}
                                <li>
                                    <a class="link" href="{% url 'trips:trip-detail' trip.id %}">{{ trip.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <p>You have no trips yet!</p>
        {% endif %}
    {% endif %}
</div>
