{% load i18n %}
<div class="container mx-auto mt-2 md:mt-4">
    <footer class="p-4">
        <div class="py-3 px-4 w-full text-center">
            <aside>
                <p class="text-sm text-slate-600 dark:text-slate-200">
                    {% trans '© 2026 WEBBOgrafico - All right reserved' %}&nbsp;-&nbsp;<a href="https://codeberg.org/webbografico/organize_it/releases"
   target="_blank"
   rel="noopener noreferrer"
   class="italic link link-hover">v{{ APP_VERSION }}</a>
                </p>
            </aside>
        </div>
    </footer>
</div>
