{% load i18n %}
<div class="toast toast-top toast-center">
    {% if messages %}
        {% for message in messages %}
            <div role="alert"
                 class="alert alert-soft {% if message.tags == 'info' %} alert-info {% elif message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-error {% elif message.tags == 'warning' %} alert-warning {% elif message.tags == 'debug' %}{% endif %} "
                 x-cloak
                 x-data="{ show: true }"
                 x-show="show"
                 x-init="setTimeout(() => show = false, 4000)">
                <i class="ph-bold ph-info i-md"></i>
                <span class="sr-only">Info</span>
                <div class="flex gap-6 items-center text-sm font-medium">
                    {{ message|safe }}
                    <button type="button"
                            class="btn btn-xs btn-outline"
                            @click="show = !show"
                            aria-label="Close">
                        <span class="sr-only">Close</span>
                        {% trans 'Close' %}
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
