<div x-data="{ openModal: false }"
     @open-modal.window="openModal = true"
     @hide-modal.window="openModal = false">
  <div
    x-show="openModal"
    x-on:keydown.escape.prevent.stop="openModal = false"
    role="dialog"
    aria-modal="true"
    x-id="['modal-title']"
    :aria-labelledby="$id('modal-title')"
    class="fixed inset-0 z-10 overflow-y-auto"
  >
      <!-- Overlay -->
    <div x-show="openModal" x-transition.opacity class="fixed inset-0 bg-black bg-opacity-50"></div>

      <!-- Panel -->
    <div
      x-show="openModal" x-transition
      x-on:click="openModal = false"
      class="relative flex min-h-screen items-center justify-center p-4"
    >
      <div
        x-on:click.stop
        x-trap.noscroll.inert="openModal"
        id="dialog"
        class="relative w-full max-w-2xl overflow-y-auto rounded-lg bg-white shadow"
      >
      </div>
    </div>
  </div>
</div>
