{% load static i18n %}
<div x-data="{ open: false}">
    <nav nav class="shadow bg-base-100 border-base-200">
        <div class="flex flex-wrap items-center p-5 mx-auto max-w-7xl lg:p-6">
            <a href="{% url 'trips:home' %}"
               class="flex items-center space-x-3 rtl:space-x-reverse grow">
                <img src="{% static 'img/logo.png' %}" class="size-8 sm:size-10" alt="Logo">
                <span class="self-center text-lg font-semibold whitespace-nowrap sm:text-xl md:text-2xl dark:text-white">Organizeit!</span>
            </a>
            <div class="flex items-center space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">
                <div class="flex me-4">{% include 'includes/language-chooser.html' %}</div>
                {% if user.is_authenticated %}
                    <form action="{% url 'account_logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"
                                href="{% url 'account_logout' %}"
                                class="btn btn-xs btn-primary md:btn-sm">{% trans 'Logout' %}</button>
                    </form>
                {% else %}
                    <a href="{% url 'account_login' %}"
                       class="btn btn-xs btn-primary md:btn-sm">{% trans 'Login' %}</a>
                {% endif %}
                <button type="button"
                        class="inline-flex justify-center items-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg md:hidden dark:text-gray-400 hover:bg-gray-100 focus:ring-2 focus:ring-gray-200 focus:outline-none dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="navbar-cta"
                        aria-expanded="false"
                        x-on:click="open = ! open">
                    <span class="sr-only">{% trans 'Open main menu' %}</span>
                    <i class="ph-bold ph-list i-md" x-show='!open' aria-hidden='true'></i>
                    <i class="ph-bold ph-x i-md" x-show='open' aria-hidden='true'></i>
                </button>
            </div>
            <div class="hidden justify-between items-center w-full md:flex md:order-1 md:w-auto md:me-8"
                 id="navbar-cta">
                <ul class="flex flex-col p-4 mt-4 font-medium md:flex-row md:p-0 md:mt-0 md:space-x-8 md:border-0 border-slate-100 rtl:space-x-reverse">
                    <li>
                        <a href="{% url 'trips:home' %}"
                           class="block py-2 px-3 text-white rounded md:p-0 md:text-tr-blue-700 md:dark:text-tr-blue-500"
                           aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'trips:trip-list' %}"
                           class="block py-2 px-3 text-gray-900 rounded md:p-0 dark:text-white md:hover:bg-transparent md:hover:text-tr-blue-700 md:dark:hover:text-tr-blue-500 md:dark:hover:bg-transparent dark:border-slate-700 dark:hover:bg-gray-700 dark:hover:text-white hover:bg-slate-100">{% trans 'Trips' %}</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'accounts:profile' %}"
                               class="block py-2 px-3 text-gray-900 rounded md:p-0 dark:text-white md:hover:bg-transparent md:hover:text-tr-blue-700 md:dark:hover:text-tr-blue-500 md:dark:hover:bg-transparent dark:border-slate-700 dark:hover:bg-gray-700 dark:hover:text-white hover:bg-slate-100">{% trans 'Settings' %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="justify-between items-center w-full md:hidden"
             x-cloak
             x-show="open"
             x-collapse.duration.500>
            <ul class="flex flex-col gap-x-0 gap-y-4 py-4 px-5">
                <li>
                    <a href="{% url 'trips:home' %}"
                       class="font-medium text-tr-blue-600 dark:text-tr-blue-500"
                       aria-current="page">Home</a>
                </li>
                <li>
                    <a href="{% url 'trips:trip-list' %}"
                       class="font-medium text-gray-500 sm:py-6 dark:text-gray-400 hover:text-gray-400 dark:hover:text-gray-500">{% trans 'Trips' %}</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'accounts:profile' %}"
                           class="font-medium text-gray-500 sm:py-6 dark:text-gray-400 hover:text-gray-400 dark:hover:text-gray-500">{% trans 'Profile' %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
