{% load static %}
<div x-data="{ open: false}">
    <nav class="fixed top-0 z-20 w-full bg-white border-b border-gray-200 dark:bg-gray-900 start-0">
        <div class="flex flex-wrap justify-between items-center p-4 mx-auto max-w-screen-xl">
            <a href="{% url 'trips:home' %}"
               class="flex items-center space-x-3 rtl:space-x-reverse grow">
                <img src="{% static 'img/logo.png' %}" class="h-8" alt="Logo">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Organize it!</span>
            </a>
            <div class="flex items-end space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">
                {% if user.is_authenticated %}
                {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-sm btn-primary">Log in</a>
                {% endif %}
                <button type="button"
                        class="inline-flex justify-center items-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg md:hidden dark:text-gray-400 hover:bg-gray-100 focus:ring-2 focus:ring-gray-200 focus:outline-none dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="navbar-cta"
                        aria-expanded="false"
                        x-on:click="open = ! open">
                    <span class="sr-only">Open main menu</span>
                    <svg x-show="! open"
                         class="w-6 h-6"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         class="icon icon-tabler icon-tabler-menu-2"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         stroke-width="2"
                         stroke="currentColor"
                         fill="none"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 6l16 0" />
                        <path d="M4 12l16 0" />
                        <path d="M4 18l16 0" />
                    </svg>
                    <svg x-show="open"
                         class="w-6 h-6"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         class="icon icon-tabler icon-tabler-x"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         stroke-width="2"
                         stroke="currentColor"
                         fill="none"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M18 6l-12 12" />
                        <path d="M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="hidden justify-between items-center w-full md:flex md:order-1 md:w-auto md:me-8"
                 id="navbar-cta">
                <ul class="flex flex-col p-4 mt-4 font-medium bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:p-0 md:mt-0 md:space-x-8 md:bg-white md:border-0 dark:bg-gray-800 dark:border-gray-700 rtl:space-x-reverse md:dark:bg-gray-900">
                    <li>
                        <a href="{% url 'trips:home' %}"
                           class="block py-2 px-3 text-white bg-blue-700 rounded md:p-0 md:text-blue-700 md:bg-transparent md:dark:text-blue-500"
                           aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'trips:trip-list' %}"
                           class="block py-2 px-3 text-gray-900 rounded md:p-0 dark:text-white dark:border-gray-700 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:hover:bg-gray-700 dark:hover:text-white">Trips</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'accounts:profile' %}"
                               class="block py-2 px-3 text-gray-900 rounded md:p-0 dark:text-white dark:border-gray-700 hover:bg-gray-100 d:dark:hover:text-blue-500 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent dark:hover:bg-gray-700 dark:hover:text-white">Profile</a>
                        </li>
                        <li>
                            <form action="{% url 'account_logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit"
                                        class="block py-2 px-3 text-gray-900 rounded md:p-0 dark:text-white dark:border-gray-700 hover:bg-gray-100 d:dark:hover:text-blue-500 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent dark:hover:bg-gray-700 dark:hover:text-white">
                                    Logout
                                </button>
                            </form>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="justify-between items-center w-full md:hidden"
             x-cloak
             x-show="open"
             x-collapse.duration.500>
            <ul class="flex flex-col gap-x-0 gap-y-4 py-4 px-5">
                <li>
                    <a href="{% url 'trips:home' %}"
                       class="font-medium text-blue-600 dark:text-blue-500"
                       aria-current="page">Home</a>
                </li>
                <li>
                    <a href="{% url 'trips:trip-list' %}"
                       class="font-medium text-gray-500 sm:py-6 dark:text-gray-400 hover:text-gray-400 dark:hover:text-gray-500">Trips</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'accounts:profile' %}"
                           class="font-medium text-gray-500 sm:py-6 dark:text-gray-400 hover:text-gray-400 dark:hover:text-gray-500">Profile</a>
                    </li>
                    <li>
                        <form action="{% url 'account_logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit"
                                    href="{% url 'account_logout' %}"
                                    class="font-medium text-gray-500 dark:text-gray-400 hover:text-gray-400 dark:hover:text-gray-500">
                                Log out
                            </button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
