{% load i18n static django_htmx tailwind_cli %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Organize your next trip">
        <meta name="keywords" content="django, organize, trip">
        <title>
            {% block page_title %}
                Organize it!
            {% endblock page_title %}
        </title>
        {% block extra_head %}
        {% endblock extra_head %}
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'img/favicon.png' %}" />
        <!-- Tailwind CSS -->
        {% tailwind_css %}
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
        <!-- LeafletJS -->
        <link rel="stylesheet"
              href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
              integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
              crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""></script>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <section>
            {% include 'includes/navbar.html' %}
        </section>
        <div>
            <div class="container mx-auto mt-20 min-h-screen md:mt-28">
                {% block content %}
                {% endblock content %}
            </div>
            <section>
                {% include 'includes/footer.html' %}
            </section>
            <!-- Modal -->
            {% include 'includes/modal.html' %}
            <!-- Messages -->
            <div id="messages" class="z-3">{% include 'includes/messages.html' %}</div>
        </div>
        <!-- Htmx -->
        <script src="https://unpkg.com/htmx.org@latest"></script>
        <!-- Alpine.js -->
        <script src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <!-- Custom.js -->
        <script src="{% static 'js/custom.js' %}"></script>
        {% django_htmx_script %}
        {% block script %}
        {% endblock script %}
    </body>
</html>
