{% load i18n static django_htmx %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}Organize it!{% endblock page_title %}</title>
    {% block extra_head %}
    {% endblock extra_head %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" >
    <!--  Bootstrap CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.6" defer></script>
    <!-- Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- Custom.js -->
    <script defer src="{% static 'js/custom.js' %}"></script>
  </head>
  <body>
    <section>
      {% include 'includes/navbar.html' %}
    </section>
    <div class="container mt-4">
      {% block content %}
      {% endblock content %}
    </div>

    <!-- Modal -->
    {% include 'includes/modal.html' %}
    <!-- Messages -->
    <div id="messages">
      {% include 'includes/messages.html' %}
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% django_htmx_script %}
  </body>
</html>
