{% load i18n static django_htmx %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Organize your next trip">
        <meta name="keywords" content="django, organize, trip">
        <title>
            {% block page_title %}
                Organize it!
            {% endblock page_title %}
        </title>
        {% block extra_head %}
        {% endblock extra_head %}
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'img/favicon.png' %}">
        <!-- Tailwind CSS -->
        <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          class="bg-secondary-subtle">
        <section class="h-screen bg-gray-50 dark:bg-gray-900">
            {% block content %}
            {% endblock content %}
        </section>
        <!-- Messages -->
        <div id="messages" class="z-3">{% include 'includes/messages.html' %}</div>
        <!-- Htmx -->
        <script src="https://unpkg.com/htmx.org@latest"></script>
        <!-- Alpine.js -->
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <!-- Custom.js -->
        <script src="{% static 'js/custom.js' %}"></script>
        {% django_htmx_script %}
        {% block script %}
        {% endblock script %}
    </body>
</html>
