@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-badge {
    @apply font-medium me-2 px-3.5 py-1.5 rounded absolute top-0 right-0 -mt-4 mr-6;
  }
  .card-badge-sm{
    @apply font-medium me-2 text-sm px-2 py-0.5 rounded absolute top-0 right-0 -mt-3 mr-6;
  }
  .t-card{
    @apply p-4 bg-white border border-gray-200 rounded-lg shadow mb-5 relative;
  }
  p{
    @apply mb-3 font-normal text-gray-700;
  }
}

li:last-child {
  border-bottom: none;
}

select ~ .pointer-events-none {
  display: none !important;
}
