[x-cloak] { display: none !important; }

textarea.fl-textarea {
    height: 7rem !important;
}

#map {
    width: 100%;
    height: 400px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
