<div class="dropdown dropdown-bottom dropdown-end" x-data>
    <div tabindex="0"
         role="button"
         class="hidden items-center m-1 mx-auto md:flex md:mx-0 btn">
        {{ slot }}
        {% heroicon_mini "chevron-down" class="size-4" %}
    </div>
    <ul tabindex="0"
        class="z-20 p-2 w-52 shadow dropdown-content menu bg-base-100 rounded-box border-1 border-base-300">
        <li>
            <a hx-get="{% url 'trips:add-transport' day.pk %}"
               hx-target="#dialog"
               hx-swap="innerHTML"
               @click="$dispatch('open-modal'); document.activeElement.blur()">Transport</a>
        </li>
        <li>
            <a>Experience</a>
        </li>
        <li>
            <a>Meal</a>
        </li>
        <li>
            <a>Stay</a>
        </li>
    </ul>
</div>
