{% load heroicons %}
<div class="py-3 px-6 rounded-lg border {{ border_color }} {{ bg_color }} relative">
    {% if event.has_overlap %}
        <div class="absolute top-0 right-0 p-1 mt-2 mr-4 rounded-full border bg-slate-50 text-error border-error dark:bg-slate-700"
             x-data>
            {% heroicon_mini 'exclamation-triangle' class="size-3" %}
        </div>
    {% endif %}
    <div class="flex items-start mb-3">
        <div class="{{ icon_color }} bg-slate-50 dark:bg-slate-700 mt-1 p-2 rounded-full border-2 {{ border_color }} ">
            {% heroicon_outline icon class="stroke-2 size-6" %}
        </div>
        <div class="ms-2">
            <h2 class="{{ icon_color }} font-semibold text-lg">{{ event.name }}</h2>
            <p class="{{ icon_color }}">{{ slot }}</p>
        </div>
    </div>
    <div class="mt-2 text-right" x-data>
        <button class="btn btn-sm btn-soft"
           hx-get="{% url 'trips:event-swap-modal' event.pk %}"
           @click="$dispatch('open-modal'); document.activeElement.blur()"
           hx-target="#dialog"
           hx-swap="innerHTML">{% heroicon_outline 'arrows-up-down' class="size-4" %}</button>
        <button class="btn btn-sm btn-soft"
           hx-get="{% url 'trips:event-modify' event.pk %}"
           @click="$dispatch('open-modal'); document.activeElement.blur()"
           hx-target="#dialog"
           hx-swap="innerHTML">{% heroicon_outline 'pencil' class="size-4" %}</button>
        <a href="{% url 'trips:event-delete' event.pk %}"
           class="btn btn-sm btn-soft"
           hx-delete="{% url 'trips:event-delete' event.pk %}"
           hx-confirm="You're permanently deleting {{ event.name }}. Are you sure?">{% heroicon_outline 'trash' class="size-4" %}</a>
    </div>
</div>
