{% load i18n %}
<li class="flex flex-col mb-1 list-row">
    <div class="flex gap-2 items-center">
        <div class="flex gap-2 items-center grow">
            {% if icon == 'fork-knife' %}
                <i class="ph-bold ph-{{ icon }} i-sm text-yellow-500 shrink-0"
                   aria-hidden="true"></i>
            {% else %}
                <i class="ph-bold ph-{{ icon }} i-sm text-green-500 shrink-0"
                   aria-hidden="true"></i>
            {% endif %}
            <a class="leading-tight link"
               href="{% url 'trips:event-detail' event.pk %}"
               hx-get="{% url 'trips:event-detail' event.pk %}"
               @click="$dispatch('open-modal'); document.activeElement.blur()"
               hx-target="#dialog"
               hx-swap="innerHTML">{{ event.name }}</a>
        </div>
        {% if event.google_maps_directions_url %}
            <a class="sm:hidden btn btn-xs btn-outline"
               href="{{ event.google_maps_directions_url }}"
               target="_blank"
               rel="noopener noreferrer"
               aria-label="{% trans 'Get directions' %}">
                <i class="ph-bold ph-path i-sm" aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>
</li>
