{% load heroicons %}
<div class="py-3 px-6 rounded-lg border {{ border_color }} {{ bg_color }}">
    <div class="flex items-start mb-3">
        <div class="{{ icon_color }} bg-slate-50 dark:bg-slate-700 mt-1 p-2 rounded-full border-2 {{ border_color }} ">
            {% heroicon_outline icon class="stroke-2 size-6" %}
        </div>
        <div class="ms-2">
            <h2 class="{{ icon_color }} font-semibold text-lg">{{ event.name }}</h2>
            <div class="{{ icon_color }} flex items-center gap-x-2">{{ slot }}</div>
        </div>
    </div>
    <div class="mt-2 text-right" x-data>
        <button class="btn btn-sm btn-soft"
           hx-get="{% url 'trips:event-swap-modal' event.pk %}"
           @click="$dispatch('open-modal'); document.activeElement.blur()"
           hx-target="#dialog"
           hx-swap="innerHTML">{% heroicon_outline 'arrows-up-down' class="size-4" %}</button>
        <button class="btn btn-sm btn-soft"
           hx-get="{% url 'trips:event-modify' event.pk %}"
           @click="$dispatch('open-modal'); document.activeElement.blur()"
           hx-target="#dialog"
           hx-swap="innerHTML">{% heroicon_outline 'pencil' class="size-4" %}</button>
        <a href="{% url 'trips:event-delete' event.pk %}"
           class="btn btn-sm btn-soft"
           hx-put="{% url 'trips:event-unpair' event.pk %}">{% heroicon_outline 'trash' class="size-4" %}</a>
    </div>
</div>
