{% load crispy_forms_tags %}
<form hx-post="{{ request.path }}"
      hx-target="#dialog"
      hx-disabled-elt="#form-submit"
      class="modal-content"
      method="post">
    <div class="border-base-300 flex items-center justify-between rounded-t border-b p-4 md:px-5 md:py-2.5">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Modify {{ event.name }}</h3>
        <button type="button"
                class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
                x-on:click="openModal = false">
            <svg class="h-3 w-3"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
        </button>
    </div>
    <div class="grid gap-x-1 p-4 sm:grid-cols-4 sm:gap-x-2 md:p-5">
        {% csrf_token %}
        {% crispy form %}
    </div>
    <div class="flex items-center justify-end rounded-b border-t border-gray-200 p-4 md:p-5 dark:border-gray-600">
        <button type="button"
                x-on:click="openModal = false"
                class="btn btn-soft btn-error mr-2">Cancel</button>
        <button id="form-submit" class="btn btn-soft btn-primary" type="submit">Save</button>
    </div>
</form>
