{% load trip_tags %}
<div class="border-base-300 flex items-center justify-between rounded-t border-b p-4 md:px-5 md:py-2.5">
    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Pair {{ event.name }}</h3>
    <button type="button"
            class="btn btn-sm btn-ghost btn-circle"
            x-on:click="openModal = false">
        <i class="ph-bold ph-x i-md"></i>
        <span class="sr-only">Close modal</span>
    </button>
</div>
<div class="p-4 md:p-5">
    <ul class="flex flex-wrap items-center justify-center gap-3">
        {% for day in days %}
            <li>
                <a href="{% url 'trips:event-pair' event.pk day.pk %}"
                   hx-get="{% url 'trips:event-pair' event.pk day.pk %}"
                   hx-target="#dialog"
                   class="btn btn-soft btn-primary flex items-center">
                    <i class="ph-bold ph-plus-circle i-sm"></i>
                    Day&nbsp;{{ day.number }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
