{% load trip_tags %}
<div class="border-base-300 flex items-center justify-between rounded-t border-b p-4 md:px-5 md:py-2.5">
    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Pair {{ event.name }}</h3>
    <button type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            x-on:click="openModal = false">
        <svg class="h-3 w-3"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
    </button>
</div>
<div class="p-4 md:p-5">
    <ul class="flex flex-wrap items-center justify-center gap-3">
        {% for day in days %}
            <li>
                <a href="{% url 'trips:event-pair' event.pk day.pk %}"
                   hx-get="{% url 'trips:event-pair' event.pk day.pk %}"
                   hx-target="#dialog"
                   class="btn btn-soft btn-primary flex items-center">
                    <i class="ph-bold ph-plus-circle i-sm"></i>
                    Day&nbsp;{{ day.number }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
