{% load i18n %}
<div class="border-base-300 flex items-center justify-between rounded-t border-b p-4 md:px-5 md:py-2.5">
    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">{% translate "Delete" %} {{ event.name }}</h3>
    <button type="button"
            class="btn btn-sm btn-ghost btn-circle"
            x-on:click="openModal = false">
        <i class="ph-bold ph-x i-md"></i>
        <span class="sr-only">{% translate "Close modal" %}</span>
    </button>
</div>
<div class="p-4 md:p-5">
    <div role="alert" class="alert alert-error alert-soft my-4 md:my-5">
        <i class="ph-bold ph-warning i-sm"></i>
        <span>{% blocktranslate with name=event.name %}You are deleting {{ name }} permanently.{% endblocktranslate %}</span>
    </div>
    <p class="text-sm text-slate-500 italic dark:text-slate-300">
        {% translate "This action cannot be undone. You can alternatively unpair from this day and reuse later by reassigning to a day of your trip. If you are sure to proceed just click confirm." %}
    </p>
</div>
<div class="flex items-center justify-end rounded-b p-4">
    <button type="button"
            x-on:click="openModal = false"
            class="btn btn-soft mr-2">{% translate "Cancel" %}</button>
    <button class="btn btn-soft btn-primary mr-2"
            hx-put="{% url 'trips:event-unpair' event.pk %}"
            type="button">{% translate "Unpair" %}</button>
    <button class="btn btn-soft btn-error"
            hx-delete="{% url 'trips:event-delete' event.pk %}"
            type="button">{% translate "Confirm" %}</button>
</div>
