{% extends "base.html" %}
{% load static partials %}

{% block page_title %}Home Page{% endblock page_title %}


{% block content %}
  <!-- Content for Autenthicated Users -->
  {% if user.is_authenticated %}
    <p class="lead">Welcome back, {{ user.email }}!</p>
    <div id="trip-list">
      {% if fav_trip %}
        <div class="card mb-5">
          <h5 class="card-header">My Favourite Trip</h5>
          <div class="card-body">
            <h5 class="card-title">{{ fav_trip.title }}</h5>
            <p class="card-text">{{ fav_trip.description }}</p>
          </div>
        </div>
        {% if other_trips %}
          <h5>Other Trips</h5>
          <ul class="list-unstyled ">
            {% for trip in other_trips %}
              <li><a href="#">{{ trip.title}}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      {% else %}
        {% if other_trips %}
          {% for trip in other_trips %}
            {% if forloop.first %}
              <div class="card mb-5">
                <h5 class="card-header">My Latest Trip</h5>
                <div class="card-body">
                  <h5 class="card-title">{{ trip.title }}</h5>
                  <p class="card-text">{{ trip.description }}</p>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          <h5>Other Trips</h5>
          <ul class="list-unstyled ">
            {% for trip in other_trips %}
              {% if forloop.first %}
              {% else %}
                <li><a href="#">{{ trip.title}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        {% else %}
          <p>You have no trips yet!</p>
        {% endif %}

      {% endif %}
    </div>

  <!-- Content for Anonymous Users -->
  {% else %}
    <div class="hero min-h-fit py-12 rounded-lg mt-12" style="background-image: url({% static 'img/hero.jpg' %});">
      <div class="hero-content text-center text-slate-800">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Welcome to Organize it!</h1>
          <p class="py-8 mb-8">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
          <button class="btn btn-primary">Create your first trip</button>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}
