{% load crispy_forms_tags %}
<form hx-post="{{ request.path }}"
      hx-target="#dialog"
      hx-disabled-elt="#form-submit"
      class="modal-content"
      method="post">
    <div class="flex items-center justify-between rounded-t border-b p-4 md:p-5 dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Create a new Link</h3>
        <button type="button"
                class="btn btn-sm btn-ghost btn-circle"
                x-on:click="openModal = false">
            <i class="ph-bold ph-x i-md"></i>
            <span class="sr-only">Close modal</span>
        </button>
    </div>
    <div class="space-y-4 p-4 md:p-5">
        {% csrf_token %}
        {% crispy form %}
    </div>
    <div class="flex items-center justify-end rounded-b border-t border-gray-200 p-4 md:p-5 dark:border-gray-600">
        <button type="button"
                x-on:click="openModal = false"
                class="btn btn-outline btn-error mr-2">Cancel</button>
        <button id="form-submit" class="btn btn-outline btn-primary" type="submit">Save</button>
    </div>
</form>
