{% load i18n %}
<form hx-post="{{ request.path }}"
      hx-target="#dialog"
      hx-disabled-elt="#form-submit"
      class="modal-content"
      method="post">
    <div class="border-base-300 flex items-center justify-between rounded-t border-b p-4 md:px-5 md:py-2.5">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">{% translate 'Edit Connection' %}</h3>
        <button type="button"
                class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
                x-on:click="openModal = false">
            <i class="ph-bold ph-x i-md"></i>
            <span class="sr-only">Close modal</span>
        </button>
    </div>
    <div class="grid gap-x-1 p-4 sm:grid-cols-2 sm:gap-x-2 md:p-5">
        {% csrf_token %}
        <!-- Transfer route info -->
        <div class="bg-base-200 col-span-full mb-4 rounded-lg p-3">
            <div class="flex items-center justify-center gap-2 sm:gap-3">
                <div class="flex flex-col justify-center text-center">
                    <span class="font-medium">{{ connection.from_location }}</span>
                    <span class="text-base-content/70 text-sm">
                        {% if connection.main_transfer.direction == 1 %}
                            {% translate 'Arrival Point' %}
                        {% else %}
                            {% if connection.event %}
                                {{ connection.event.start_time|time:"H:i" }}
                            {% else %}
                                {% translate 'Stay' %}
                            {% endif %}
                        {% endif %}
                    </span>
                </div>
                <i class="ph-bold ph-arrow-right px-4"></i>
                <div class="flex flex-col justify-center text-center">
                    <span class="font-medium">{{ connection.to_location }}</span>
                    <span class="text-base-content/70 text-sm">
                        {% if connection.main_transfer.direction == 1 %}
                            {% if connection.event %}
                                {{ connection.event.start_time|time:"H:i" }}
                            {% else %}
                                {% translate 'Stay' %}
                            {% endif %}
                        {% else %}
                            {% translate 'Departure Point' %}
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-span-full mb-4">
            <label class="mb-2 block font-medium">{{ form.transport_mode.label }}</label>
            {{ form.transport_mode }}
            {% if form.transport_mode.errors %}
                <div class="text-error mt-1 text-sm">{{ form.transport_mode.errors }}</div>
            {% endif %}
        </div>
        <div class="col-span-full mb-4">
            <label for="{{ form.notes.id_for_label }}" class="mb-2 block font-medium">{{ form.notes.label }}</label>
            <textarea name="{{ form.notes.name }}"
                      id="{{ form.notes.id_for_label }}"
                      rows="3"
                      class="textarea textarea-bordered w-full"
                      placeholder="{% translate 'Notes' %}">{{ form.notes.value|default:'' }}</textarea>
            {% if form.notes.errors %}<div class="text-error mt-1 text-sm">{{ form.notes.errors }}</div>{% endif %}
        </div>
    </div>
    <div class="flex items-center justify-end p-4 md:p-5">
        <button type="button"
                x-on:click="openModal = false"
                class="btn btn-outline btn-error mr-2">{% translate 'Cancel' %}</button>
        <button id="form-submit" class="btn btn-outline btn-primary" type="submit">{% translate 'Save' %}</button>
    </div>
</form>
