{% load crispy_forms_tags i18n %}
<form hx-post="{{ request.path }}"
      hx-target="#dialog"
      hx-disabled-elt="#form-submit"
      class="modal-content"
      method="post"
      x-data="autocompleteForm()">
    <div class="flex justify-between items-center p-4 rounded-t border-b md:py-2.5 md:px-5 border-base-300">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">{% trans 'Create a new Meal' %}</h3>
        <button type="button"
                class="inline-flex justify-center items-center w-8 h-8 text-sm text-gray-400 bg-transparent rounded-lg hover:text-gray-900 hover:bg-gray-200 ms-auto dark:hover:bg-gray-600 dark:hover:text-white"
                x-on:click="openModal = false">
            <svg class="w-3 h-3"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
        </button>
    </div>
    <div class="grid gap-x-1 p-4 sm:grid-cols-4 sm:gap-x-2 md:p-5"
         x-data="overlapChecker()"
         data-overlap-url="{% url 'trips:check-event-overlap' day.pk %}">
        {% csrf_token %}
        {% crispy form %}
    </div>
    {% if unpaired_experiences %}
        <div class="px-4 md:px-5">
            <h4 class="text-lg font-semibold">{% trans 'Unpaired Meals' %}</h4>
            <ul class="flex flex-wrap gap-3 justify-start items-center mt-4">
                {% for exp in unpaired_experiences %}
                    <li>
                        <a href="{% url 'trips:event-pair' exp.pk day.pk %}"
                           class="flex gap-2 items-center btn btn-primary btn-soft"
                           hx-get="{% url 'trips:event-pair' exp.pk day.pk %}"
                           hx-target="#dialog">
                            {{ exp.name }}
                            {% heroicon_mini 'plus-circle' class="size-4" %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="flex justify-end items-center p-4 md:p-5">
        <button type="button"
                x-on:click="openModal = false"
                class="mr-2 btn btn-outline btn-error">Cancel</button>
        <button id="form-submit" class="btn btn-outline btn-primary" type="submit">Save</button>
    </div>
</form>
