{% load crispy_forms_tags %}
<form hx-post="{{ request.path }}"
      hx-target="#dialog"
      hx-disabled-elt="#form-submit"
      class="modal-content"
      method="post">
    <div class="flex items-center justify-between rounded-t border-b p-4 md:p-5 dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Create a New Location</h3>
        <button type="button"
                class="btn btn-sm btn-ghost btn-circle"
                x-on:click="openModal = false">
            <i class="ph-bold ph-x i-md"></i>
            <span class="sr-only">Close modal</span>
        </button>
    </div>
    <div class="space-y-4 p-4 md:p-5">
        <div class="mb-8">
            <a class="btn btn-outline btn-primary inline-flex w-full items-center text-center"
               href="https://www.google.com/maps"
               target="_blank">Find a place on GoogleMaps
                <svg class="ms-2 h-3.5 w-3.5 rtl:rotate-180"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
        {% csrf_token %}
        {% crispy form %}
    </div>
    <div class="flex items-center justify-end rounded-b border-t border-gray-200 p-4 md:p-5 dark:border-gray-600">
        <button type="button"
                x-on:click="openModal = false"
                class="btn btn-outline btn-error mr-2">Cancel</button>
        <button id="form-submit" class="btn btn-outline btn-primary" type="submit">Save</button>
    </div>
</form>
