{% load crispy_forms_tags %}
<h3 id="stay-title"
    class="text-xl font-semibold text-gray-900 dark:text-white"
    hx-swap-oob="true">Edit Stay:&nbsp;{{ stay.name }}</h3>
<form hx-post="{{ request.path }}"
      hx-target="#dialog"
      hx-disabled-elt="#form-submit"
      class="modal-content"
      method="post">
    <div class="grid gap-x-1 p-4 sm:grid-cols-4 sm:gap-x-2 md:p-5">
        {% csrf_token %}
        {% crispy form %}
    </div>
    <div class="flex justify-end items-center p-4">
        <button id="form-submit" class="ms-2 btn btn-sm btn-success" type="submit">Save</button>
        <button type="button"
                x-on:click="openModal = false"
                class="ms-2 btn btn-sm btn-outline btn-neutral">Cancel</button>
    </div>
</form>
