{% load trip_tags i18n %}
<div class="flex justify-between items-center p-4 rounded-t border-b md:py-2.5 md:px-5 border-base-300">
    <h3 id="stay-title"
        class="text-xl font-semibold text-gray-900 dark:text-white">{{ stay.name }}</h3>
    <button type="button"
            class="btn btn-ghost btn-circle btn-sm"
            x-on:click="openModal = false{% if modified %}; location.reload(){% endif %}">
        <i class="ph-bold ph-x i-md"></i>
        <span class="sr-only">{% trans 'Close modal' %}</span>
    </button>
</div>
<div id="stay-details">
    <div class="relative">
        <div id="enrich-overlay"
             class="absolute inset-0 z-50 htmx-indicator bg-base-100/90">
            <div class="flex justify-center items-center w-full h-full">
                <span class="loading loading-bars loading-lg text-primary"></span>
            </div>
        </div>
    <div class="grid gap-1 p-4 sm:gap-2 md:p-5">
        <ul class="leading-10">
            <li class="flex gap-2 items-center">
                <i class="ph-bold ph-map-pin i-md text-base-content/60"></i>{{ stay.address }}
            </li>
            <li class="flex gap-2 items-center">
                <i class="ph-bold ph-sign-in i-md text-base-content/60"></i>{{ first_day.date|date:"SHORT_DATE_FORMAT" }} {% trans 'from' %} {{ stay.check_in|time:"H:i" }}
            </li>
            <li class="flex gap-2 items-center">
                <i class="ph-bold ph-sign-out i-md text-base-content/60"></i>{{ last_day.date|date:"SHORT_DATE_FORMAT" }} {% trans 'before' %} {{ stay.check_out|time:"H:i" }}
            </li>
            {% if stay.website %}
                <li class="flex gap-2 items-center">
                    <i class="ph-bold ph-browser i-md text-base-content/60"></i><a href="{{ stay.website }}" class="link">{{ stay.website|truncatechars:38 }}</a>
                </li>
            {% endif %}
            {% if stay.phone_number %}
                <li class="flex gap-2 items-center">
                    <i class="ph-bold ph-phone i-md text-base-content/60"></i>{{ stay.phone_number|phone_format }}
                </li>
            {% endif %}
            {% if stay.opening_hours %}
                <li class="flex gap-2 items-center">
                    <i class="ph-bold ph-door-open i-md text-base-content/60"></i>{{ stay.opening_hours|format_opening_hours }}
                </li>
            {% endif %}
            {% if stay.cancellation_date %}
                <li class="flex gap-2 items-center">
                    <i class="ph-bold ph-calendar-x i-md text-base-content/60"></i>
                        {{ stay.cancellation_date }}
                </li>
            {% endif %}
        </ul>
        {% if error_message %}
            <div role="alert"
                    class="mt-4 alert alert-error alert-soft"
                    x-cloak
                    x-data="{ show: true }"
                    x-show="show"
                    x-init="setTimeout(() => show = false, 4000)">{{ error_message }}</div>
        {% elif success_message %}
            <div role="alert"
                    class="mt-4 alert alert-success alert-soft"
                    x-cloak
                x-data="{ show: true }"
                x-show="show"
                x-init="setTimeout(() => show = false, 4000)">{{ success_message }}</div>
        {% endif %}
    </div>
    </div>
    <div class="flex justify-end items-center p-4 px-8 rounded-b md:p-5">
        {% if not stay.enriched %}
        <button type="button"
                class="ms-2 btn btn-secondary btn-soft"
                hx-post="{% url 'trips:enrich-stay' stay.id %}"
                hx-indicator="#enrich-overlay"
                hx-swap="innerHTML"
                hx-target="#dialog">
            <i class="text-xl sm:hidden ph-bold ph-list-plus"></i>
            <span class="hidden sm:inline">{% trans 'Enrich' %}</span>
        </button>
        {% endif %}
        <button type="button"
                class="ms-2 btn btn-success btn-soft"
                hx-get="{% url 'trips:stay-modify' stay.pk %}"
                hx-target="#stay-details"
                hx-swap="innerHTML">
            <i class="text-xl sm:hidden ph-bold ph-pencil-line"></i>
            <span class="hidden sm:inline">{% trans 'Edit' %}</span>
        </button>
        <button type="button"
                class="ms-2 btn btn-error btn-soft"
                hx-get="{% url 'trips:stay-delete' stay.pk %}"
                hx-target="#stay-details"
                hx-swap="innerHTML">
            <i class="text-xl sm:hidden ph-bold ph-trash"></i>
            <span class="hidden sm:inline">{% trans 'Delete' %}</span>
        </button>
        <button type="button"
                x-on:click="openModal = false{% if modified %}; location.reload(){% endif %}"
                class="ms-2 btn btn-soft btn-neutral">
            <i class="text-xl sm:hidden ph-bold ph-x-circle"></i>
            <span class="hidden sm:inline">{% trans 'Close' %}</span>
        </button>
    </div>
</div>
