{% load crispy_forms_tags i18n %}
<h3 id="stay-title"
    class="text-xl font-semibold text-gray-900 dark:text-white"
    hx-swap-oob="true">{% translate 'Edit Stay' %}:&nbsp;{{ stay.name }}</h3>
<form hx-post="{{ request.path }}"
      hx-target="#dialog"
      hx-disabled-elt="#form-submit"
      class="modal-content"
      method="post"
      x-data="autocompleteForm()">
    <div class="grid gap-x-1 p-4 sm:grid-cols-4 sm:gap-x-2 md:p-5">
        {% csrf_token %}
        {% crispy form %}
    </div>
    <div class="flex items-center justify-end p-4">
        <button type="button"
                x-on:click="openModal = false"
                class="btn btn-error btn-soft ms-2">{% translate 'Cancel' %}</button>
        <button id="form-submit" class="btn btn-primary btn-soft ms-2" type="submit">{% translate 'Save' %}</button>
    </div>
</form>
