{% load crispy_forms_tags i18n %}
<div class="border-base-300 flex items-center justify-between rounded-t border-b px-4 py-2 md:px-5 md:py-2.5">
    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
        {% if stay.notes %}
            {% translate 'Stay Notes' %}
        {% else %}
            {% translate 'Add Notes' %}
        {% endif %}
    </h3>
    <button type="button"
            class="btn btn-sm btn-ghost btn-circle"
            x-on:click="openModal = false">
        <i class="ph-bold ph-x i-md"></i>
        <span class="sr-only">{% translate 'Close modal' %}</span>
    </button>
</div>
<div class="grid gap-x-1 p-4 sm:grid-cols-2 sm:gap-x-2 md:p-5">
    {% if stay.notes %}
        {% include 'trips/includes/note.html' with modify_url='trips:stay-note-modify' delete_url='trips:stay-note-delete' element=stay %}
    {% else %}
        <div class="mt-3 sm:col-span-2">
            <form hx-post="{% url 'trips:stay-note-create' stay.pk %}"
                  hx-target="#dialog"
                  method="post">
                {% csrf_token %}
                {% crispy form %}
                <div class="flex items-center justify-end gap-2 pb-4">
                    <button id="form-submit"
                            class="btn btn-sm btn-soft btn-primary"
                            type="submit">{% translate 'Save' %}</button>
                    <button type="button"
                            x-on:click="openModal = false"
                            class="btn btn-sm btn-soft">{% translate 'Close' %}</button>
                </div>
            </form>
        </div>
    {% endif %}
</div>
