{% load trip_tags i18n %}
<div class="flex justify-between items-center p-4 rounded-t border-b md:py-2.5 md:px-5 border-base-300">
    <h3 id="stay-title"
        class="text-xl font-semibold text-gray-900 dark:text-white">{{ stay.name }}</h3>
    <button type="button"
            class="btn btn-ghost btn-circle btn-sm"
            x-on:click="openModal = false">
        <i class="ph-bold ph-x i-md"></i>
        <span class="sr-only">{% trans 'Close modal' %}</span>
    </button>
</div>
<div id="stay-details">
    <div class="grid gap-1 p-4 sm:grid-cols-2 sm:gap-2 md:p-5">
        <ul class="leading-10">
            <li class="flex gap-2 items-center">
                <i class="ph-bold ph-map-pin i-md text-base-content/60"></i>{{ stay.address }}
            </li>
            <li class="flex gap-2 items-center">
                <i class="ph-bold ph-phone i-md text-base-content/60"></i>{{ stay.phone_number|phone_format }}
            </li>
            {% if event.website %}
            <li class="flex gap-2 items-center">
                <i class="ph-bold ph-browser i-md text-base-content/60"></i><a href="{{ stay.website }}" class="link">{{ stay.website }}</a>
            </li>
            {% endif %}
            <li class="flex gap-2 items-center">
                <i class="ph-bold ph-sign-in i-md text-base-content/60"></i>{{ first_day.date|date:"d/m" }} {% trans 'from' %} {{ stay.check_in|time:"H:i" }}
            </li>
            <li class="flex gap-2 items-center">
                <i class="ph-bold ph-sign-out i-md text-base-content/60"></i>{{ last_day.date|date:"d/m" }} {% trans 'before' %} {{ stay.check_out|time:"H:i" }}
            </li>
            {% if stay.cancellation_date %}
                <li class="flex gap-2 items-center">
                    <i class="ph-bold ph-calendar-x i-md text-base-content/60"></i>
                        {{ stay.cancellation_date }}
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="flex justify-end items-center p-4 px-8 rounded-b md:p-5">
        <button type="button"
                class="ms-2 btn btn-success btn-soft"
                hx-get="{% url 'trips:stay-modify' stay.pk %}"
                hx-target="#stay-details"
                hx-swap="innerHTML">{% trans 'Edit' %}</button>
        <button type="button"
                class="ms-2 btn btn-error btn-soft"
                hx-get="{% url 'trips:stay-delete' stay.pk %}"
                hx-target="#stay-details"
                hx-swap="innerHTML">{% trans 'Delete' %}</button>
        <button type="button"
                x-on:click="openModal = false"
                class="ms-2 btn btn-soft btn-neutral">{% trans 'Close' %}</button>
    </div>
</div>
