{% load i18n trip_tags %}
<div class="border-base-300 flex items-center justify-between rounded-t border-b p-4 md:px-5 md:py-2.5">
    <h3 class="text-lg font-semibold">{% translate "Move" %} {{ event.name|truncatechars:28 }}</h3>
    <button type="button"
            class="btn btn-sm btn-ghost btn-circle"
            x-on:click="openModal = false">
        <i class="ph-bold ph-x i-md"></i>
        <span class="sr-only">{% translate "Close" %}</span>
    </button>
</div>
<div class="p-4 md:p-5">
    <div class="flex flex-wrap gap-2">
        {% for other in other_events %}
            <button class="btn btn-sm border {{ other|event_border_color }} {{ other|event_bg_color }} {{ other|event_icon_color }} hover:opacity-80"
                    hx-post="{% url 'trips:swap-event-order' event.pk %}"
                    hx-vals='{"other_event_id": "{{ other.pk }}"}'
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    @click="openModal = false">{{ other.name|truncatechars:28 }}</button>
        {% endfor %}
    </div>
</div>
