{% load crispy_forms_tags %}

<form hx-post="{{ request.path }}" class="modal-content" method="post">
  <div class="modal-header">
    <h5>Change dates</h5>
  </div>
  <div class="modal-body">
    {% csrf_token %}
    {% crispy form %}
    <div class="card text-bg-light">
      <div class="card-body">
        <h5 class="card-title text-danger">Warning</h5>
        <p class="card-text">Changing the dates will reset all links between places and days for the days deleted. This action cannot be undone</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Cancel</button>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
