{% extends "base.html" %}
{% load partials static %}
{% block page_title %}
    {{ trip.title }}
{% endblock page_title %}
{% block content %}
    <!-- Details Section -->
    <section id="details" class="text-center md:text-start">
        <div class="py-4 px-6 w-full bg-white rounded-lg border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="items-center mb-3 md:flex">
                <h2 class="mt-4 mb-2 text-4xl font-semibold tracking-tight md:mt-0 md:mr-6 md:grow">
                    {{ trip.title }} <span class="mb-2 badge badge-md badge-secondary badge-outline ms-2">{{ trip.get_status_display }}</span>
                </h2>
                <div x-data>
                    <button class="hidden items-center mx-auto md:flex md:mx-0 btn btn-lg btn-primary btn-outline">
                        {% heroicon_solid "plus" class="w-6 h-6 md:me-2" %}
                        Add
                    </button>
                </div>
            </div>
            <div id="trip-details"
                 class="flex flex-col gap-x-3 mb-4 md:flex-row lg:gap-x-6 lg:justify-start">
                {% if trip.start_date and trip.end_date %}
                    <div>
                        Start Date: <strong>{{ trip.start_date }}</strong>
                    </div>
                    <div>
                        End date: <strong>{{ trip.end_date }}</strong>
                    </div>
                {% else %}
                    <div>
                        Start Date: <strong>-</strong>
                    </div>
                    <div>
                        End date: <strong>-</strong>
                    </div>
                {% endif %}
                <div>
                    Destination: <strong>{{ trip.destination }}</strong>
                </div>
            </div>
            <p class="hidden md:block">
                <em>{{ trip.description }}</em>
            </p>
            <div x-data>
                <button class="items-center mx-auto w-full md:hidden md:mx-0 btn btn-lg btn-primary btn-outline">
                    {% heroicon_solid "plus" class="w-6 h-6 md:me-2" %}
                    Add
                </button>
            </div>
        </div>
    </section>
    <!-- END Details Section -->
{% endblock content %}
{% block script %}
    <script src="{% static 'js/sortable.js' %}"></script>
    <script>
    {% if trip.places.all %}
        htmx.on("htmx:load", function(evt){
        if (evt.detail.elt.id == "map") {
          let map_bounds = JSON.parse(document.getElementById('map_bounds').textContent);
          let placesMap = createMap([map_bounds[0], map_bounds[1]]);
          let locations = JSON.parse(document.getElementById('location_json').textContent);

          let markerFeatureGroup = L.featureGroup().addTo(placesMap);

          for (let location of locations) {
            L.marker([ location.latitude, location.longitude]).addTo(markerFeatureGroup).bindPopup(location.name);
          }
        }
      });
    {% endif %}

    function resetInput() {
      let inputs = document.getElementsByClassName('select')
      Array.from(inputs).forEach((el) => el.selectedIndex = 0);
    }


    </script>
{% endblock script %}
