{% extends "base.html" %}
{% load partials %}
{% block page_title %}Trips List{% endblock page_title %}

{% block content %}
  {% partialdef trip-list inline=true %}
    <div id="trips">
      <!-- Active Trips Section -->
      <section class="my-5"
               hx-swap="outerHTML"
               hx-trigger="tripSaved from:body"
               hx-get="{% url 'trips:trip-list' %}"
               hx-target="#trips">

        <div class="d-md-flex align-items-center  mb-4 text-center text-md-start">
          <h1 class="flex-grow-1">My Trips</h1>
          <button class="btn btn-outline-primary"
                  hx-get="{% url 'trips:trip-create' %}"
                  hx-target="#dialog"
                  hx-swap="innerHTML">Create a new trip</button>
        </div>

        <div class="row g-4">
          {% for trip in active_trips %}
            <div class="col-lg-6 col-xxl-4">
              <div class="card h-100" id="{{trip.id}}">
                <div class="card-header text-center">
                  <div class="d-flex justify-content-between">
                    <div>
                      <span class="badge rounded-pill px-3 py-2 text-bg-secondary me-3">
                        {{ trip.get_status_display }}
                      </span>
                      {% if trip.start_date and trip.end_date %}
                        {{ trip.start_date }} / {{ trip.end_date }}
                      {% else  %}
                        - / -
                      {% endif %}
                    </div>
                    <button class="btn btn-sm btn-outline-secondary"
                            hx-get="{% url 'trips:trip-dates' trip.id %}"
                            hx-target="#dialog"
                            hx-swap="innerHTML"
                    >Edit</button>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ trip.title }}</h5>
                  <p class="card-text">{{ trip.description }}</p>
                  <div class="text-end">
                    <button class="btn btn-sm btn-outline-warning me-2"
                            hx-get="{% url 'trips:trip-archive' trip.id %}"
                            hx-target="">Archive</button>
                    <button class="btn btn-sm btn-outline-danger me-2"
                            hx-delete="{% url 'trips:trip-delete' trip.id %}"
                            hx-confirm="Are you sure you want to delete {{ trip.title }}?">Delete</button>
                    <a href="{% url 'trips:trip-detail' trip.id %}" class="btn btn-sm btn-outline-primary">View</a>
                  </div>

                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    <!-- Archived Trips Section -->
      {% if archived_trips %}
        <section class="my-4">
          <h2>Archived Trips</h2>
          <ul class="list-unstyled">
            {% for trip in archived_trips %}
              <li><a href="{% url 'trips:trip-detail' trip.id %}">{{ trip.title }}</a></li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    </div>
    {% if request.htmx %}
      <div hx-swap-oob=innerHTML:#messages>
        {% include 'includes/messages.html' %}
      </div>
    {% endif %}


  {% endpartialdef %}
{% endblock content %}


{% block script %}

{% endblock script %}
