{% extends "base.html" %}
{% load partials i18n %}
{% block page_title %}
{% trans "Trips List" %}
{% endblock page_title %}
{% block content %}
    {% partialdef trip-list inline %}
    <div id="trips">
        <!-- Active Trips Section -->
        <section class="my-5"
                 hx-swap="outerHTML"
                 hx-trigger="tripSaved from:body"
                 hx-get="{% url 'trips:trip-list' %}"
                 hx-target="#trips">
            <div x-data class="items-center mb-12 text-center md:flex md:text-start">
                <h1 class="mb-2 text-3xl font-semibold grow">{% trans 'My Trips' %}</h1>
                <button class="btn btn-sm btn-primary md:btn-md"
                        hx-get="{% url 'trips:trip-create' %}"
                        hx-target="#dialog"
                        hx-swap="innerHTML"
                        @click="$dispatch('open-modal')">{% trans 'Create a new trip' %}</button>
            </div>
            <div class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 xl:grid-cols-3">
                {% for trip in active_trips %}
                    <div class="shadow card card-border bg-base-100"
                         id="{{ trip.id }}">
                         <div class="card-body">
                            <span class="badge badge-outline badge-secondary">{{ trip.get_status_display }}</span>
                            <h2 class="card-title">{{ trip.title }}</h2>
                            <div x-data class="flex items-center">
                                <span>
                                    {% if trip.start_date and trip.end_date %}
                                        {{ trip.start_date|date:"d/m/y" }}&nbsp;-&nbsp;{{ trip.end_date|date:"d/m/y" }}
                                    {% else %}
                                        - / -
                                    {% endif %}
                                </span>
                                <a class="btn btn-secondary btn-soft btn-xs ms-3"
                                   hx-get="{% url 'trips:trip-dates' trip.id %}"
                                   hx-target="#dialog"
                                   hx-swap="innerHTML"
                                   @click="$dispatch('open-modal')">{% trans 'Modify Dates' %}</a>
                            </div>
                            <p class="mb-3 italic text-base-content/80">{{ trip.description }}</p>
                            <div class="justify-end text-right">
                                <button class="btn btn-sm btn-warning btn-soft me-2"
                                        hx-get="{% url 'trips:trip-archive' trip.id %}"
                                        hx-target="">{% trans 'Archive' %}</button>
                                <button class="btn btn-sm btn-error btn-soft me-2"
                                        hx-delete="{% url 'trips:trip-delete' trip.id %}"
                                        hx-confirm="Are you sure you want to delete {{ trip.title }}?">{% trans 'Delete' %}</button>
                                <a href="{% url 'trips:trip-detail' trip.id %}"
                                   class="btn btn-sm btn-primary btn-soft">{% trans 'View' %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!-- Archived Trips Section -->
        {% if archived_trips %}
            <section class="my-4">
                <h2>Archived Trips</h2>
                <ul class="list-unstyled">
                    {% for trip in archived_trips %}
                        <li>
                            <a href="{% url 'trips:trip-detail' trip.id %}">{{ trip.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    </div>
    {% if request.htmx %}
        <div hx-swap-oob="innerHTML:#messages">{% include "includes/messages.html" %}</div>
    {% endif %}
{% endpartialdef %}
{% endblock content %}
{% block script %}
{% endblock script %}
